<a href="https://colab.research.google.com/github/JoelsonCostae/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Limpar - Transformar - Consultar - Agregar - Guardar

* A função do Engenheiro de dados é normalizar o banco de dados e deixar ele o mais fidedigno possível

* Evitar ao maximo excluir algum dado

* Pandas é mais utilizado em arquivos BATCH - que não recebem|atualizam dados diariamente e possuem dados estacionários (por periodo de tempo, não em tempo real)

* Para base de dados que recebem informações sempre é melhor utilizar o Pyspark - assim que recebe as atualizações ja processa|atualiza em tempo real - Streaming

#Recomendado : 
1. Abrir e carregar o arquivo

2. Verificar se o separador está em , ou ;

3. Verificar o tipo de dados de cada coluna

4. Acrescentar o sep caso o separador seja ;

5. Acrescentar o parse_dates caso uma coluna esteja com datas mas seu tipo esteja diferente de datetimes


#Importar PANDAS e dar o apelido de pd

In [ ]:
import pandas as pd

#Criar dataframe - df

* Leitura do arquivo de dados: 

pd.read_csv("link do caminho do arquivo csv")

* Separador padrão é virgula, se tiver com ponto e virgula colocar : sep = ";" no final

* Se não escolhermos uma coluna, irá criar o rotulo automaticamente, da posição 0 até a ultima linha-1, porém, podemos escolher uma coluna como rotulo, apenas para LOCALIZAÇÃO[linha,coluna]

* Indice X Rotulo : o rotulo pode ser modificado e mostra qual a localização de determinada coisa na tabela [linha,tabela], não tem como localizar pelo -1 para percorrer de tras pra frente como o indice, e o indice não pode ser modificado

* A localização do dataframe precisa de dois parametros : linha e coluna

* Para mostrar o dataframe basta chamar o nome dele  na ultima linha do codigo (sem print)

* Após extrair o arquivo e passar para o dataframe, qualquer atualização feita a partir de agora será em cima do dataframe, sem qualquer alteração no arquivo

* Precisamos converter uma coluna de datas em date, caso esteja como string com o parse_dates = ["nome da coluna","nome outra coluna",...] - todos os dados da coluna tem que estar com datas, se uma linha não tiver como data, não irá converter

* Data padrão : Ano - A | Mes - M | Dia - D

AAAA - MM - DD

* Se o dia tiver na frente do mes:
parse_dates = ["nome coluna de datas"],dayfirst = True

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Data/ocorrencia_2010_2020 - ocorrencia_2010_2020.csv",sep=";",parse_dates= ["ocorrencia_dia"],dayfirst=True)
df

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

#Analisar qual o tipo de dado de cada coluna:

dataframe.dtypes

* Se uma linha da coluna for string e todas as outras forem int, a coluna inteira será considerada como string

* É necessario analisar a coluna que tiver datas para converter (caso não esteja com o tipo datetime) uma coluna com datas em datetime para mexer nela (operações, consultas,etc)

In [ ]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

Ler os DIAS|MESES|ANOS das datas referentes a cada linha para verificar se estão nas posições corretas

In [ ]:
df.ocorrencia_dia.dt.day
df.ocorrencia_dia.dt.month
df.ocorrencia_dia.dt.year

0       2010
1       2010
2       2010
3       2010
4       2010
        ...
5747    2020
5748    2020
5749    2020
5750    2020
5751    2020
Name: ocorrencia_dia, Length: 5752, dtype: int64

Mostrar os primeiros (cima p baixo) dados em relação ao rotulo - .head()


Se não colocar nenhum numero no ( ) ele tras os 5 primeiros ( 0 a 4)

In [ ]:
df.head(10)

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0
5              39807               39807  ...        17:53:00                   0
6              40215               40215  ...        18:40:00                   0
7              39707               39707  ...        12:30:00                   3
8              39156               39156  ...        23:15:00                   2
9              39711               39711  ...        20:00:00                   0

[10 rows x 9 columns]

Mostrar os ultimos (baixo p cima) dados em relação ao rotulo - .tail()

Se não colocar nenhum numero no ( ) ele tras os 5 primeiros ( 0 a 4)

In [ ]:
df.tail(3)

      codigo_ocorrencia  ...  total_recomendacoes
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[3 rows x 9 columns]

#Pegar localizações:
* **Colocar o rotulo é OBRIGATORIO, Se não especificar a coluna, ele mostra todas as colunas desse intervalo** 

* Localizar uma celula especifica:

df.loc[rotulo,'nome da coluna']

* Localizar celulas em um intervalo :

df.loc[linha inicio: linha fim] 


* Localizar uma celula E outra celula:

df.loc[[linha1,linha2,linha3,...]]
Se nã especificar a coluna, ele mostra todas as colunas desse intervalo

* Localizar todos as linhas de uma unica coluna :

df.loc[:,'nome da coluna']

In [ ]:
df.loc[100,'codigo_ocorrencia']

40170

In [ ]:
df.loc[5:20]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
5               39807               39807  ...        17:53:00                   0
6               40215               40215  ...        18:40:00                   0
7               39707               39707  ...        12:30:00                   3
8               39156               39156  ...        23:15:00                   2
9               39711               39711  ...        20:00:00                   0
10              39789               39789  ...        21:30:00                   0
11              40069               40069  ...        14:50:00                   8
12              40414               40414  ...        03:00:00                   0
13              39507               39507  ...        17:00:00                   2
14              40107               40107  ...        14:30:00                   0
15              39315               39315  ...        21:22:00                   0
16              39809               39809  ...        15:00:00                   0
17              39810               39810  ...        18:23:00                   0
18              39828               39828  ...        17:45:00                   0
19              44575               44575  ...        12:27:00                   0
20              40310               40310  ...        19:32:00                   0

[16 rows x 9 columns]

In [ ]:
df.loc[[5,25,30]]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
5               39807               39807  ...        17:53:00                   0
25              39772               39772  ...        18:58:00                   0
30              39849               39849  ...        03:30:00                   0

[3 rows x 9 columns]

In [ ]:
df.loc[:,'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5747              CAMPINAS
5748     LAGOA DA CONFUSÃO
5749        RIO DE JANEIRO
5750             VICENTINA
5751        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [ ]:
df.loc[::-1]
#Mostrar de trás para frente (5751 ao 0) com o passo -1

      codigo_ocorrencia  ...  total_recomendacoes
5751              79844  ...                    0
5750              79756  ...                    0
5749              79802  ...                    0
5748              79757  ...                    0
5747              79804  ...                    0
...                 ...  ...                  ...
4                 40324  ...                    0
3                 39527  ...                    0
2                 40351  ...                    0
1                 40349  ...                    0
0                 40211  ...                    0

[5752 rows x 9 columns]

#Verificar se as celulas das colunas são unicos - não se repetem

df.nomedacoluna.is_unique

* True = não se repete
* False = se repete


* Realizamos a verificação para ser possível pegar outra coluna para ser o rotulo, ou seja, não pode ter repetições

In [ ]:
df.ocorrencia_cidade.is_unique

False

#Trocar o rotulo padrão por uma coluna com celulas unicas

df.set_index('nome coluna'.inplace = True)

* ***So setar uma coluna como rotulo se as celulas dela forem UNICAS***

* Seta a coluna como novo rotulo e com o inplace = True, aplica no dataframe inteiro com o novo rotulo

* Sem colocar o inplace, o set_index pode ser utilizado apenas como pre-visualização para confirmar se esta da forma que voce quer, porém sem aplicar no dataframe

In [ ]:
df.set_index("codigo_ocorrencia", inplace = True)

In [ ]:
df

                   codigo_ocorrencia2  ... total_recomendacoes
codigo_ocorrencia                      ...
40211                           40211  ...                   0
40349                           40349  ...                   0
40351                           40351  ...                   0
39527                           39527  ...                   0
40324                           40324  ...                   0
...                               ...  ...                 ...
79804                           79804  ...                   0
79757                           79757  ...                   0
79802                           79802  ...                   0
79756                           79756  ...                   0
79844                           79844  ...                   0

[5752 rows x 8 columns]

#Localizações com o rotulo sendo uma coluna

* Precisa colocar a identificação da coluna rotulo

df.loc[codigo]

In [ ]:
df.loc[40324]

codigo_ocorrencia2                        40324
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                       PELOTAS
ocorrencia_uf                                RS
ocorrencia_aerodromo                       SBPK
ocorrencia_dia              2010-01-05 00:00:00
ocorrencia_hora                        19:25:00
total_recomendacoes                           0
Name: 40324, dtype: object

#Tirar a coluna como rotulo e voltar ao rotulo padrão

df.reset_index(drop = True, inplace = True)
* Reseta o index|rotulo

drop - apaga a coluna rotulo anterior, sem o drop a coluna volta normalmente

inplace - aplica no dataframe

* Ele exclui a coluna que foi passada como rotulo anteriormente

* ***Sempre que for aplicar em todo o dataframe definitivamente, é necessário colocar o inplace = True***

In [ ]:
df.reset_index(drop = True,inplace = True)

In [ ]:
df

      codigo_ocorrencia2  ... total_recomendacoes
0                  40211  ...                   0
1                  40349  ...                   0
2                  40351  ...                   0
3                  39527  ...                   0
4                  40324  ...                   0
...                  ...  ...                 ...
5747               79804  ...                   0
5748               79757  ...                   0
5749               79802  ...                   0
5750               79756  ...                   0
5751               79844  ...                   0

[5752 rows x 8 columns]

#Backups

* Antes de realizar as modificações no dataframe, é importante realizar um backup (copia) da coluna, para em caso de erro, ter como recuperar sem realizar todo o processo

* Cria uma nova coluna, copiando os dados de outra

df['nome da coluna de backup'] = df.nomedacoluna

In [ ]:
df['backup_aerodromo'] = df.ocorrencia_aerodromo
df

      codigo_ocorrencia2  ... backup_aerodromo
0                  40211  ...             ****
1                  40349  ...             SBBE
2                  40351  ...             SBRJ
3                  39527  ...             ****
4                  40324  ...             SBPK
...                  ...  ...              ...
5747               79804  ...             SBKP
5748               79757  ...             ****
5749               79802  ...             SBGL
5750               79756  ...             ****
5751               79844  ...             SBJR

[5752 rows x 9 columns]

#Apagar colunas

* Apagar colunas: axis = 1 para indicar que é no eixo das colunas (y)

df.drop(['nome da coluna'], axis = 1, inplace = True)

* linhas: axis = 0 para indicar que é o eixo das linhas (x)

In [ ]:
df.drop(['backup_aerodromo'],axis = 1)

      codigo_ocorrencia2  ... total_recomendacoes
0                  40211  ...                   0
1                  40349  ...                   0
2                  40351  ...                   0
3                  39527  ...                   0
4                  40324  ...                   0
...                  ...  ...                 ...
5747               79804  ...                   0
5748               79757  ...                   0
5749               79802  ...                   0
5750               79756  ...                   0
5751               79844  ...                   0

[5752 rows x 8 columns]

#**Manipular o DataFrame**

* Alterar um dado especifico em um local específico

df.loc[rotulo,'coluna'] = 'novo_dado'

In [ ]:
df.loc[0,'ocorrencia_aerodromo'] = 'Mari'
df

      codigo_ocorrencia2  ... backup_aerodromo
0                  40211  ...             ****
1                  40349  ...             SBBE
2                  40351  ...             SBRJ
3                  39527  ...             ****
4                  40324  ...             SBPK
...                  ...  ...              ...
5747               79804  ...             SBKP
5748               79757  ...             ****
5749               79802  ...             SBGL
5750               79756  ...             ****
5751               79844  ...             SBJR

[5752 rows x 9 columns]

* Atribuir um valor para a Coluna inteira

df.loc[:,'nome da coluna'] = 'novo valor'

* Geralmente se usa para alterar a coluna de backup, para mostrar o que foi alterado, etc

In [ ]:
df.loc[:,'backup_aerodromo'] = 'Alterado.'
df

      codigo_ocorrencia2  ... backup_aerodromo
0                  40211  ...             ****
1                  40349  ...             SBBE
2                  40351  ...             SBRJ
3                  39527  ...             ****
4                  40324  ...             SBPK
...                  ...  ...              ...
5747               79804  ...             SBKP
5748               79757  ...             ****
5749               79802  ...             SBGL
5750               79756  ...             ****
5751               79844  ...             SBJR

[5752 rows x 9 columns]

#Alterar por Consultas

* Alterar uma posição atraves da consulta da localização de um valor

* Lembrar de fazer o BACKUP

* Exemplo:
Alterar a classificação da ocorrência em toda ocorrência que tiver sido na UF Mato Grosso (MT)

* Rastrear com base em uma coluna e alterar outra coluna que possui o mesmo rotulo de linha quando achar

df.loc[df.nomedacolunaparapesquisar == consulta , ['coluna a ser alterada']] = 'novo valor'

In [ ]:
df.loc[df.ocorrencia_uf == "MT" , ['ocorrencia_classificacao']] = 'Mariana'

#Localizar por valor especifico 

df.loc[df.nomedacoluna == 'valor']

In [ ]:
df.loc[df.ocorrencia_uf == "MT"]

      codigo_ocorrencia2  ... backup_aerodromo
3                  39527  ...             ****
13                 39507  ...             ****
28                 39321  ...             ****
53                 39405  ...             ****
69                 39727  ...             SBCY
...                  ...  ...              ...
5679               79678  ...             ****
5687               79689  ...            *****
5699               79697  ...             ****
5711               79717  ...             ****
5741               79754  ...             ****

[292 rows x 9 columns]

#Replace

* Procura todos as celulas com a caracteristica informada, e altera as que achar

* Realizar o replace antes de fazer a coluna de backup para não alterar ela tambem

df.replace([caracteristica1,caracteristica2,...,],pd.NA, inplace = True)

* Em todo o dataframe, vai procurar as caracteristicas informadas e vai modificar por Not avalaible NA

* Em uma coluna especifica:

df.nomecoluna.replace(['caracteristica'],['novovalor'],inplace = True)

In [ ]:
#df.replace(['Mari','****','*****','#####',],pd.NA, inplace=True) #Altera todos os campos do dataframe com essas caracteristicas

#Altera todos os campos da coluna especificada
df.ocorrencia_aerodromo.replace(['Mari','****','*****','####'], pd.NA,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/missing.py:49: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x
/usr/local/lib/python3.7/dist-packages/pandas/core/missing.py:60: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

In [ ]:
df

      codigo_ocorrencia2  ... backup_aerodromo
0                  40211  ...             ****
1                  40349  ...             SBBE
2                  40351  ...             SBRJ
3                  39527  ...             ****
4                  40324  ...             SBPK
...                  ...  ...              ...
5747               79804  ...             SBKP
5748               79757  ...             ****
5749               79802  ...             SBGL
5750               79756  ...             ****
5751               79844  ...             SBJR

[5752 rows x 9 columns]

* Saber quantos <Na> cada coluna possui - NOT AVALAIBLE

In [ ]:
df.isna().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2344
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
backup_aerodromo               0
dtype: int64

#Alterar o titulo da coluna

* Recomendado apenas para alteração de idioma 

df.rename(columns = { 'nomecoluna' : 'novonome' , 'nomecoluna': 'novonome' }, inplace = True)

***Sempre que começar com df. colocar o inplace = True no final para ser incluido no dataframe (exceto df.loc)***

In [ ]:
df.rename(columns={'ocorrencia_classificacao': 'Classificação' , 'ocorrencia_cidade' : 'Cidade'})

      codigo_ocorrencia2    Classificação  ... total_recomendacoes backup_aerodromo
0                  40211        INCIDENTE  ...                   0             ****
1                  40349        INCIDENTE  ...                   0             SBBE
2                  40351        INCIDENTE  ...                   0             SBRJ
3                  39527          Mariana  ...                   0             ****
4                  40324        INCIDENTE  ...                   0             SBPK
...                  ...              ...  ...                 ...              ...
5747               79804        INCIDENTE  ...                   0             SBKP
5748               79757  INCIDENTE GRAVE  ...                   0             ****
5749               79802        INCIDENTE  ...                   0             SBGL
5750               79756  INCIDENTE GRAVE  ...                   0             ****
5751               79844        INCIDENTE  ...                   0             SBJR

[5752 rows x 9 columns]