<a href="https://colab.research.google.com/github/JoelsonCostae/Pandas/blob/main/Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nós manipulamos os dados até certo ponto, instruindo anteriormente, para normaliza-los.

* Instalar o pandera sempre que abrir um novo notebook

* ! Deixar como primeiro código para facilitar no carregamento

In [ ]:
pip install pandera

Requirement already satisfied: pandera in /usr/local/lib/python3.7/dist-packages (0.7.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.7.4.3)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.12.1)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (3.0.0)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (0.7.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.19.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.0)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.1.5)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)

#Biblioteca Pandera:

* Validações baseadas em esquemas

* A **validação de dados** é realizada de acordo com um "**Schema**" definido, onde são colocados para cada entrada de dados um *match*.
* Em caso de incorrer uma não validação o validador acusa onde está o dado em conflito.

import pandera as pa

* Exemplo: As horas são de 24h, logo não é valido horas>24 e minutos>60, então podemos passar uma validação com um Schema para verificar se todos estão dentro do Schema, se algum não tiver, ele mostra qual esta errado.

* Usualmente utilizado no inicio ou no meio

* O Schema é um por analise, uma vez feito corretamente, não é necessário modificar, apenas chamar e comparar

#Importar Bibliotecas

In [ ]:
import pandas as pd
import pandera as pa

#Extrair dados para o Dataframe - df

* Verificar inconsistências

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Data/ocorrencia_2010_2020 - ocorrencia_2010_2020.csv", sep=";",parse_dates=["ocorrencia_dia"],dayfirst=True)
df

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

#Verificar o tipo de dados de cada coluna

In [ ]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

#Verificar quais são os dados UNICOS naquela coluna

* pd.unique(df['nomecoluna'])
* Fazer quando temos certeza que na coluna não tem valores unicos para verificar inconsistencias
* Mostrar em ordem alfabetica : sorted(pd.unique(df['nomecoluna']))
* Quando ver uma inconsistencia anotar para não esquecer
* Verificar se algo que parece uma inconsistencia se repete ou é apenas em algum dado, pois se repetir é algo da base de dados, se não, é uma inconsistencia

In [ ]:
pd.unique(df['ocorrencia_classificacao'])

array(['INCIDENTE', 'ACIDENTE', 'INCIDENTE GRAVE'], dtype=object)

In [ ]:
sorted(pd.unique(df['ocorrencia_aerodromo']))

['###!',
 '####',
 '****',
 '*****',
 '5JTI',
 '9PAA',
 '9PFC',
 '9PFX',
 '9PHD',
 '9PSD',
 'SBAE',
 'SBAN',
 'SBAQ',
 'SBAR',
 'SBAT',
 'SBAU',
 'SBBE',
 'SBBH',
 'SBBI',
 'SBBP',
 'SBBQ',
 'SBBR',
 'SBBU',
 'SBBV',
 'SBBW',
 'SBBZ',
 'SBCA',
 'SBCB',
 'SBCF',
 'SBCG',
 'SBCJ',
 'SBCP',
 'SBCR',
 'SBCT',
 'SBCX',
 'SBCY',
 'SBCZ',
 'SBDN',
 'SBEG',
 'SBEK',
 'SBFE',
 'SBFI',
 'SBFL',
 'SBFN',
 'SBFS',
 'SBFZ',
 'SBGL',
 'SBGO',
 'SBGP',
 'SBGR',
 'SBGV',
 'SBGW',
 'SBHT',
 'SBIH',
 'SBIL',
 'SBIP',
 'SBIT',
 'SBIZ',
 'SBJA',
 'SBJC',
 'SBJD',
 'SBJF',
 'SBJI',
 'SBJP',
 'SBJR',
 'SBJU',
 'SBJV',
 'SBKG',
 'SBKP',
 'SBLE',
 'SBLJ',
 'SBLO',
 'SBMA',
 'SBMD',
 'SBME',
 'SBMG',
 'SBMK',
 'SBML',
 'SBMO',
 'SBMQ',
 'SBMS',
 'SBMT',
 'SBMY',
 'SBNF',
 'SBNM',
 'SBNT',
 'SBPA',
 'SBPB',
 'SBPC',
 'SBPF',
 'SBPJ',
 'SBPK',
 'SBPL',
 'SBPN',
 'SBPP',
 'SBPR',
 'SBPS',
 'SBPV',
 'SBQV',
 'SBRB',
 'SBRD',
 'SBRF',
 'SBRJ',
 'SBRP',
 'SBSG',
 'SBSJ',
 'SBSL',
 'SBSM',
 'SBSN',
 'SBSP',
 'SBSR',
 'SBST',
 'SBSV',
 'SBTA',
 'SBTD',
 'SBTE',
 'SBTF',
 'SBTK',
 'SBTR',
 'SBTT',
 'SBTV',
 'SBUA',
 'SBUF',
 'SBUL',
 'SBUR',
 'SBUY',
 'SBVG',
 'SBVH',
 'SBVT',
 'SDAA',
 'SDAG',
 'SDAI',
 'SDAM',
 'SDBA',
 'SDBB',
 'SDBK',
 'SDBN',
 'SDBV',
 'SDCD',
 'SDCO',
 'SDDN',
 'SDDQ',
 'SDED',
 'SDEE',
 'SDEH',
 'SDEM',
 'SDEN',
 'SDET',
 'SDGR',
 'SDHP',
 'SDHU',
 'SDIG',
 'SDIH',
 'SDIM',
 'SDIO',
 'SDIP',
 'SDJA',
 'SDJB',
 'SDJC',
 'SDJL',
 'SDJO',
 'SDKE',
 'SDKH',
 'SDLL',
 'SDLO',
 'SDLY',
 'SDLZ',
 'SDMC',
 'SDMH',
 'SDMJ',
 'SDMM',
 'SDMV',
 'SDNB',
 'SDNE',
 'SDNH',
 'SDNI',
 'SDOI',
 'SDOR',
 'SDOW',
 'SDPA',
 'SDPG',
 'SDPN',
 'SDPW',
 'SDPY',
 'SDQG',
 'SDRE',
 'SDRK',
 'SDRS',
 'SDRV',
 'SDSC',
 'SDTB',
 'SDTF',
 'SDTI',
 'SDTK',
 'SDTO',
 'SDUB',
 'SDVE',
 'SDVG',
 'SDVH',
 'SDVI',
 'SDVK',
 'SDVL',
 'SDVO',
 'SDWC',
 'SDWU',
 'SDWV',
 'SDXF',
 'SDYF',
 'SDYJ',
 'SDYW',
 'SDZX',
 'SIBH',
 'SIBO',
 'SIBX',
 'SIFC',
 'SIFH',
 'SIFV',
 'SIJG',
 'SIJY',
 'SIKC',
 'SILC',
 'SILT',
 'SIMB',
 'SING',
 'SION',
 'SIPB',
 'SIPO',
 'SIPU',
 'SIPY',
 'SIQE',
 'SIQH',
 'SIQK',
 'SIRI',
 'SIRS',
 'SISY',
 'SIVQ',
 'SIVU',
 'SIXD',
 'SIXE',
 'SJAH',
 'SJBH',
 'SJBM',
 'SJBY',
 'SJCY',
 'SJDU',
 'SJFM',
 'SJFU',
 'SJHG',
 'SJHR',
 'SJIF',
 'SJLO',
 'SJLU',
 'SJLY',
 'SJNP',
 'SJNQ',
 'SJOG',
 'SJPT',
 'SJQN',
 'SJRG',
 'SJTO',
 'SJVL',
 'SJVO',
 'SJWQ',
 'SJXM',
 'SJYG',
 'SJYR',
 'SNAG',
 'SNAL',
 'SNAS',
 'SNAU',
 'SNAZ',
 'SNBA',
 'SNBG',
 'SNBO',
 'SNBR',
 'SNBS',
 'SNCJ',
 'SNCL',
 'SNCT',
 'SNCV',
 'SNCW',
 'SNCX',
 'SNDC',
 'SNDH',
 'SNDP',
 'SNDR',
 'SNDT',
 'SNDU',
 'SNDV',
 'SNEJ',
 'SNEM',
 'SNFE',
 'SNFJ',
 'SNFS',
 'SNFX',
 'SNGA',
 'SNGG',
 'SNGQ',
 'SNGS',
 'SNGU',
 'SNGV',
 'SNGX',
 'SNHB',
 'SNHE',
 'SNHH',
 'SNIG',
 'SNIZ',
 'SNJD',
 'SNJI',
 'SNJK',
 'SNJN',
 'SNJO',
 'SNJR',
 'SNKB',
 'SNKE',
 'SNKF',
 'SNKH',
 'SNKI',
 'SNKK',
 'SNLF',
 'SNLO',
 'SNMA',
 'SNMD',
 'SNME',
 'SNMH',
 'SNMU',
 'SNMX',
 'SNNL',
 'SNOD',
 'SNOF',
 'SNOG',
 'SNPA',
 'SNPC',
 'SNPD',
 'SNPJ',
 'SNPX',
 'SNPY',
 'SNQV',
 'SNQX',
 'SNRP',
 'SNRU',
 'SNSG',
 'SNSH',
 'SNSW',
 'SNTF',
 'SNTO',
 'SNTY',
 'SNUN',
 'SNUZ',
 'SNVB',
 'SNVC',
 'SNVR',
 'SNVS',
 'SNWC',
 'SNWS',
 'SNXI',
 'SNXR',
 'SNXT',
 'SNXW',
 'SNYE',
 'SNYP',
 'SNYR',
 'SNYS',
 'SNZA',
 'SSAC',
 'SSAK',
 'SSAQ',
 'SSAU',
 'SSAY',
 'SSBG',
 'SSBL',
 'SSBN',
 'SSBR',
 'SSCE',
 'SSCF',
 'SSCK',
 'SSCL',
 'SSCN',
 'SSCP',
 'SSCR',
 'SSCT',
 'SSDK',
 'SSDO',
 'SSDP',
 'SSER',
 'SSFB',
 'SSFC',
 'SSGA',
 'SSGB',
 'SSGG',
 'SSGP',
 'SSGX',
 'SSHS',
 'SSIE',
 'SSIJ',
 'SSIQ',
 'SSJA',
 'SSJI',
 'SSJL',
 'SSKG',
 'SSKK',
 'SSKM',
 'SSKS',
 'SSKT',
 'SSKW',
 'SSKZ',
 'SSLT',
 'SSMH',
 'SSMW',
 'SSNB',
 'SSNG',
 'SSNH',
 'SSNV',
 'SSOG',
 'SSOK',
 'SSOL',
 'SSOS',
 'SSPB',
 'SSPG',
 'SSPI',
 'SSPL',
 'SSPQ',
 'SSPS',
 'SSPV',
 'SSPX',
 'SSQI',
 'SSQT',
 'SSQZ',
 'SSRS',
 'SSRZ',
 'SSSB',
 'SSSC',
 'SSSE',
 'SSSS',
 'SSSZ',
 'SSTH',
 'SSTL',
 'SSUB',
 'SSUL',
 'SSUV',
 'SSVA',
 'SSVN',
 'SSXO',
 'SSZL',
 'SSZR',
 'SSZW',
 'SWAQ',
 'SWBB',
 'SWBE',
 'SWCA',
 'SWCZ',
 'SWDC',
 'SWEF',
 'SWEI',
 'SWEJ',
 'SWEK',
 'SWEN',
 'SWEW',
 'SWFN',
 'SWFR',
 'SWFV',
 'SWFX',
 'SWGC',
 'SWGI',
 'SWGN',
 'SWGP',
 'SWHP',
 'SWIN',
 'SWIT',
 'SWJN',
 'SWJP',
 'SWJW',
 'SWKC',
 'SWKO',
 'SWKT',
 'SWLB',
 'SWLC',
 'SWLV',
 'SWMO',
 'SWMV',
 'SWMW',
 'SWMZ',
 'SWNB',
 'SWNH',
 'SWNK',
 'SWNO',
 'SWNS',
 'SWNV',
 'SWOB',
 'SWON',
 'SWOZ',
 'SWPA',
 'SWPD',
 'SWPI',
 'SWPQ',
 'SWPY',
 'SWQI',
 'SWRD',
 'SWRO',
 'SWRZ',
 'SWSI',
 'SWSL',
 'SWTS',
 'SWUI',
 'SWUQ',
 'SWUV',
 'SWUZ',
 'SWVC',
 'SWVI',
 'SWVR',
 'SWVZ',
 'SWXQ',
 'SWXV',
 'SWYH',
 'SWYV']

Inconsistencias: ocorrencia_aerodromo

`'****','*****','####','###!'`

Inconsistencias a considerar:
'5JTI', '9PAA', '9PFC', '9PFX', '9PHD', '9PSD'

In [ ]:
sorted(pd.unique(df['ocorrencia_uf']))

['**',
 'AC',
 'AL',
 'AM',
 'AP',
 'BA',
 'CE',
 'DF',
 'ES',
 'GO',
 'MA',
 'MG',
 'MS',
 'MT',
 'PA',
 'PB',
 'PE',
 'PI',
 'PR',
 'RJ',
 'RN',
 'RO',
 'RR',
 'RS',
 'SC',
 'SE',
 'SP',
 'TO']

Inconsistencias: ocorrencia_uf

'**'

#Resolvendo as inconsistencias evidentes

* Backup de coluna é mais usada quando for alterar apenas um dado especifico

1. Backup do Dataframe inteiro pois utilizaremos o Replace :


> **dfback = df.copy()**




2. Realizar o replace nos dados inconsistentes como NotAvalaible (NA) se for object, e NULL se for números, para não impactar no resultado final

In [ ]:
dfback = df.copy()

# **Limpeza | Tratamento dos Dados**

In [ ]:
df.replace(['**','****','*****','####','###!'],pd.NA,inplace=True)

**Pega e soma tudo que for NA nas colunas**

In [ ]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

**Situações que podem acontecer**:

* Excluir toda a linha onde tiver NA ou NULL:


> df.dropna()

* Sem o inplace=True não aplica, apenas mostra como ficaria

* Essa situação pode fazer com que percamos dados importantes

* Dropar os NA apenas de uma coluna especifica:


> df.dropna(subset=['nomecoluna'])

* Iremos utlizar o Drop em cima de dados com valores não disponiveis ou nulos, caso isso não impacte no dataframe geral por no maximo 1% de perda de dados

* Não é recomendado fazer no Dataframe inteiro, utilizado em ULTIMO CASO

In [ ]:
df.dropna(subset=['ocorrencia_aerodromo'])

      codigo_ocorrencia  ...  total_recomendacoes
1                 40349  ...                    0
2                 40351  ...                    0
4                 40324  ...                    0
6                 40215  ...                    0
8                 39156  ...                    2
...                 ...  ...                  ...
5743              79824  ...                    0
5746              79769  ...                    0
5747              79804  ...                    0
5749              79802  ...                    0
5751              79844  ...                    0

[3403 rows x 9 columns]

**Excluir linhas totalmente iguais : duplicadas**

df.drop_duplicates

* Deixa apenas uma das iguais e exclui as outras que estão duplicadas

In [ ]:
df.drop_duplicates()

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

**Analisar possiveis inconsistencias**

* Não são inconsistencias pois aparentemente é uma classificação especial por Estado:



> 9P - Rio de Janeiro | 5J - Rio Grande do Sul

In [ ]:
df.loc[df.ocorrencia_aerodromo == "5JTI"]

      codigo_ocorrencia  ...  total_recomendacoes
4337              77684  ...                    2

[1 rows x 9 columns]

In [ ]:
df.loc[df.ocorrencia_aerodromo == "9PAA"]

      codigo_ocorrencia  ...  total_recomendacoes
3708              65543  ...                    0
5470              79380  ...                    0
5710              79714  ...                    0

[3 rows x 9 columns]

In [ ]:
df.loc[df.ocorrencia_aerodromo == "9PFC"]

      codigo_ocorrencia  ...  total_recomendacoes
3941              66457  ...                    0

[1 rows x 9 columns]

In [ ]:
df.loc[df.ocorrencia_aerodromo == "9PFX"]

      codigo_ocorrencia  ...  total_recomendacoes
3995              66650  ...                    0

[1 rows x 9 columns]

In [ ]:
df.loc[df.ocorrencia_aerodromo == "9PHD"]

      codigo_ocorrencia  ...  total_recomendacoes
4683              78308  ...                    0

[1 rows x 9 columns]

In [ ]:
df.loc[df.ocorrencia_aerodromo == "9PSD"]

      codigo_ocorrencia  ...  total_recomendacoes
5595              79538  ...                    0

[1 rows x 9 columns]

#**Validação de dados**

1. Passar o Schema para ele


> Podemos escolher o nome que quiser, mas por convenção, chamamos de Schema

* Validar o tipo de dados de cada coluna

schema = pa.DataFrameSchema(
  columns = {
  "nomecoluna" : pa.Column(**pa.tipo de dados**),
  ...
})

* Validar a quantidade de caracteres

"nomecoluna" : pa.Column(pa.tipo,**pa.Check.str_lenght(min,max)**)

* Aceitar valores nulos:

**nullable = True**

* Verificar o formato das horas

**Horas:**

Possibilidade 1 : Antes do | [0-1]?[0-9]
- O primeiro digito aceita de 0 a 1 [0-1]
- O segundo digito aceita de 0 a 9 [0-9]

** O ? é como uma pergunta : O primeiro digito é 0 ou 1? Se sim, o segunto tem que estar entre 0 e 9. SENÃO (|), o primeiro digito será 2 e o segundo estrá entre 0 e 3**

Possibilidade 2 : Depois do | [2][0-3]
- O primeiro digito aceita apenas o 2 [2]
- O segundo digito aceita apenas de 0 a 3 [0-3]

**Minutos e Segundos:**

- Primeiro digito entre 0 e 5
- Segundo digito entre 0 e 9

- Separados por dois pontos ( : )

`pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])$')`

* Inicia com r'^
* Finaliza com $'

In [ ]:
schema = pa.DataFrameSchema(
    columns = {
        #Verifica se a coluna é do tipo passado
        "codigo_ocorrencia": pa.Column(pa.Int),
        "codigo_ocorrencia2" : pa.Column(pa.Int),
        "ocorrencia_classificacao":pa.Column(pa.String),
        "ocorrencia_cidade":pa.Column(pa.String),
        #Valida a quantidade de caracteres 
        "ocorrencia_uf" : pa.Column(pa.String,pa.Check.str_length(2,2),nullable=True),
        "ocorrencia_aerodromo":pa.Column(pa.String,pa.Check.str_length(4,4),nullable=True),
        "ocorrencia_dia":pa.Column(pa.DateTime),
        "ocorrencia_hora":pa.Column(pa.String,pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])$'),nullable=True),
        "total_recomendacoes":pa.Column(pa.Int)
    }

)

**Fazer a validação**
* Se aparecer o Dataframe é pq ta validado

In [ ]:
schema.validate(df)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

#**Filtros**

* Trás os dados de maneira mais precisa|detalhada

* O funcionamento dos filtros é através do armazenamento daqueles que atendem as condições do filtro dentro de uma variavel


**----------------------------------------------------------------------------------------------------------**

* Mostrar linhas de alguma coluna que possuem algum dado nulo

> variavel = df.nomecoluna.isnull( )


* Para mostrar precisa localizar a VARIAVEL com o filtro:


> df.loc[variavel]

In [ ]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

* Contar quantos dados validos tem em cada coluna

In [ ]:
df.count()

codigo_ocorrencia           5752
codigo_ocorrencia2          5752
ocorrencia_classificacao    5752
ocorrencia_cidade           5752
ocorrencia_uf               5751
ocorrencia_aerodromo        3403
ocorrencia_dia              5752
ocorrencia_hora             5751
total_recomendacoes         5752
dtype: int64

In [ ]:
filter = df.ocorrencia_uf.isnull()

In [ ]:
df.loc[filter]

      codigo_ocorrencia  ...  total_recomendacoes
2227              49474  ...                    0

[1 rows x 9 columns]

* Filtro mais elaborado

In [ ]:
filter1 = df.total_recomendacoes > 11
df.loc[filter1]

      codigo_ocorrencia  ...  total_recomendacoes
326               42250  ...                   19
872               44796  ...                   23
1062              45554  ...                   20
2795              52265  ...                   13
3930              66432  ...                   12

[5 rows x 9 columns]

* Mostrar apenas colunas especificas no filtro

In [ ]:
df.loc[filter1,["ocorrencia_cidade","ocorrencia_dia","ocorrencia_hora"]]

     ocorrencia_cidade ocorrencia_dia ocorrencia_hora
326     RIO DE JANEIRO     2010-08-12        12:26:00
872             RECIFE     2011-07-13        09:54:00
1062        UBERLÂNDIA     2011-11-15        02:15:00
2795            SANTOS     2014-08-13        13:03:00
3930           VITÓRIA     2017-02-21        11:47:00

In [ ]:
filter2 = df.ocorrencia_uf == "MG"
df.loc[filter2]

      codigo_ocorrencia  ...  total_recomendacoes
9                 39711  ...                    0
25                39772  ...                    0
46                39155  ...                    0
56                39972  ...                    0
68                40318  ...                    0
...                 ...  ...                  ...
5725              79741  ...                    0
5728              79744  ...                    0
5734              79766  ...                    0
5736              79776  ...                    0
5743              79824  ...                    0

[529 rows x 9 columns]

In [ ]:
filter3 = df.ocorrencia_classificacao == "ACIDENTE"
df.loc[filter3]

      codigo_ocorrencia  ...  total_recomendacoes
3                 39527  ...                    0
11                40069  ...                    8
13                39507  ...                    2
14                40107  ...                    0
15                39315  ...                    0
...                 ...  ...                  ...
5737              79748  ...                    0
5739              79749  ...                    0
5740              79751  ...                    0
5743              79824  ...                    0
5745              79755  ...                    0

[1844 rows x 9 columns]

* Mesclar FILTROS - Agregar 

* & - mostra o que há no primeiro filtro E no segundo

* | - mostra o que há no primeiro filtro OU no segundo, ou seja, de ambos

In [ ]:
df.loc[filter2 & filter3]

      codigo_ocorrencia  ...  total_recomendacoes
73                39933  ...                    1
80                39887  ...                    1
269               41751  ...                    9
437               43089  ...                    0
444               43095  ...                    0
...                 ...  ...                  ...
5554              79493  ...                    0
5582              79524  ...                    0
5655              79640  ...                    0
5736              79776  ...                    0
5743              79824  ...                    0

[141 rows x 9 columns]

In [ ]:
df.loc[filter2 | filter3]

      codigo_ocorrencia  ...  total_recomendacoes
3                 39527  ...                    0
9                 39711  ...                    0
11                40069  ...                    8
13                39507  ...                    2
14                40107  ...                    0
...                 ...  ...                  ...
5737              79748  ...                    0
5739              79749  ...                    0
5740              79751  ...                    0
5743              79824  ...                    0
5745              79755  ...                    0

[2232 rows x 9 columns]

* Trazer varias condições em um mesmo filtro

In [ ]:
filter4 = df.ocorrencia_classificacao.isin(["ACIDENTE","INCIDENTE"])
filter5 = df.ocorrencia_uf == "RJ"

In [ ]:
df.loc[filter4 & filter5]

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
2                 40351  ...                    0
19                44575  ...                    0
23                40311  ...                    0
24                41577  ...                    0
...                 ...  ...                  ...
5706              79707  ...                    0
5710              79714  ...                    0
5716              79724  ...                    0
5749              79802  ...                    0
5751              79844  ...                    0

[470 rows x 9 columns]

* Filtrar linhas da coluna que possuem tal letra, ou comecem com uma letra especifica

* .str[posiçãodaletra] == "letra"

In [ ]:
filtroLetra = df.ocorrencia_cidade.str[0] == "C"
df.loc[filtroLetra]

      codigo_ocorrencia  ...  total_recomendacoes
6                 40215  ...                    0
7                 39707  ...                    3
8                 39156  ...                    2
15                39315  ...                    0
20                40310  ...                    0
...                 ...  ...                  ...
5661              79649  ...                    0
5663              79652  ...                    0
5680              79683  ...                    0
5696              79692  ...                    0
5747              79804  ...                    0

[825 rows x 9 columns]

* Ultima letra str[-1]

* Duas ultimas letras [-2:]

In [ ]:
filtroLetra1 = df.ocorrencia_cidade.str[-1] == "A"
df.loc[filtroLetra1]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
12                40414  ...                    0
15                39315  ...                    0
25                39772  ...                    0
26                39847  ...                    0
...                 ...  ...                  ...
5738              79787  ...                    0
5739              79749  ...                    0
5743              79824  ...                    0
5744              79753  ...                    0
5750              79756  ...                    0

[1556 rows x 9 columns]

* Mostrar as linhas da coluna que contem uma palavra ou varios caracteres especificos

In [ ]:
filtroLetra2 = df.ocorrencia_cidade.str.contains("RIO") 
df.loc[filtroLetra2]

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
19                44575  ...                    0
23                40311  ...                    0
...                 ...  ...                  ...
5717              79719  ...                    0
5724              79740  ...                    0
5743              79824  ...                    0
5749              79802  ...                    0
5751              79844  ...                    0

[489 rows x 9 columns]

In [ ]:
filtroContem = df.ocorrencia_cidade.str.contains("MA | RIO")
df.loc[filtroContem]

      codigo_ocorrencia  ...  total_recomendacoes
3                 39527  ...                    0
52                39367  ...                    0
110               40089  ...                    0
179               40843  ...                    0
314               42323  ...                    0
460               43333  ...                    0
584               43752  ...                    0
769               44484  ...                    3
838               44712  ...                    0
988               51792  ...                    0
990               45109  ...                    0
1227              45610  ...                    0
1344              45849  ...                    0
1785              46855  ...                    1
1893              47110  ...                    3
1903              47117  ...                    0
1932              47297  ...                    0
2350              50275  ...                    0
2382              50344  ...                    1
2465              51140  ...                    0
2679              51453  ...                    0
2787              52263  ...                    0
2870              52618  ...                    0
3417              53633  ...                    0
3599              60981  ...                    0
3751              65754  ...                    2
3999              66674  ...                    0
4200              77452  ...                    0
4201              77450  ...                    0
4319              77672  ...                    0
4347              77705  ...                    0
4359              77857  ...                    0
4423              77793  ...                    0
4435              77809  ...                    0
4600              78140  ...                    0
4608              78157  ...                    0
4635              78202  ...                    0
4899              78674  ...                    0
4917              78717  ...                    0
5128              79119  ...                    0
5159              78991  ...                    0
5173              79004  ...                    0
5187              79013  ...                    0
5219              79240  ...                    0
5537              79474  ...                    0
5576              79519  ...                    0
5679              79678  ...                    0

[47 rows x 9 columns]

In [ ]:
filtroHoras = df.ocorrencia_hora == "12:00:00"
df.loc[filtroHoras]

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
189               41485  ...                    0
205               41274  ...                    0
444               43095  ...                    0
511               43452  ...                    0
...                 ...  ...                  ...
5266              79179  ...                    0
5310              79129  ...                    0
5541              79486  ...                    0
5625              79608  ...                    0
5744              79753  ...                    0

[85 rows x 9 columns]

In [ ]:
filtroHoras1 = df.ocorrencia_hora.str[0] == "2"
df.loc[filtroHoras1]

      codigo_ocorrencia  ...  total_recomendacoes
8                 39156  ...                    2
9                 39711  ...                    0
10                39789  ...                    0
15                39315  ...                    0
27                39768  ...                    0
...                 ...  ...                  ...
5722              79738  ...                    0
5725              79741  ...                    0
5731              79746  ...                    0
5733              79759  ...                    0
5736              79776  ...                    0

[1089 rows x 9 columns]

* Filtrar em cima da coluna com tipo DATETIME

df.nomecoluna.dt.year == ano

df.nomecoluna.dt.month == mes

df.nomecoluna.dt.day == dia

In [ ]:
filtroData = df.ocorrencia_dia.dt.year == 2018
df.loc[filtroData]

      codigo_ocorrencia  ...  total_recomendacoes
4302              77607  ...                    0
4303              77608  ...                    0
4304              77610  ...                    0
4305              77616  ...                    0
4306              77617  ...                    0
...                 ...  ...                  ...
4741              78410  ...                    0
4742              78390  ...                    1
4743              78433  ...                    0
4744              78406  ...                    0
4745              78394  ...                    0

[444 rows x 9 columns]

In [ ]:
df.loc[filtroData & filter5 & filter3]

      codigo_ocorrencia  ...  total_recomendacoes
4338              77726  ...                    4
4407              77768  ...                    0
4471              77877  ...                    0
4561              78054  ...                    0

[4 rows x 9 columns]

#Filtros Avançados

In [ ]:
filter_ano = df.ocorrencia_dia.dt.year == 2016
filter_mes = df.ocorrencia_dia.dt.month == 11
filter_dia_inicial = df.ocorrencia_dia.dt.day >= 2
filter_dia_final = df.ocorrencia_dia.dt.day <= 20
#filter_dia_intervalo = (df.ocorrencia_dia.dt.day > 2) & (df.ocorrencia_dia.dt.day < 22)
df.loc[filter_ano & filter_mes & filter_dia_inicial & filter_dia_final]

      codigo_ocorrencia  ...  total_recomendacoes
3805              65963  ...                    0
3806              65936  ...                    0
3807              65994  ...                    0
3808              65953  ...                    0
3809              65978  ...                    0
3810              65980  ...                    0
3811              65981  ...                    2
3812              65974  ...                    0
3813              65990  ...                    0
3814              65982  ...                    1
3815              65984  ...                    0
3816              66005  ...                    0
3817              66048  ...                    0
3818              65998  ...                    0
3819              66007  ...                    0
3820              66036  ...                    0
3821              66082  ...                    0
3822              66019  ...                    0
3823              66021  ...                    0
3824              66022  ...                    0
3825              66034  ...                    0
3826              66020  ...                    0

[22 rows x 9 columns]

#Juntar coluna de data e hora

* Converter a coluna para datetime :

pd.to_datetime()

In [ ]:
df['data_hora']= pd.to_datetime(df.ocorrencia_dia.astype(str)+ ' ' + df.ocorrencia_hora)

In [ ]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
data_hora                   datetime64[ns]
dtype: object

#Filtro com data+hora

In [ ]:
periodo_inicial = df.data_hora >= '2018-10-01 00:00:00'
periodo_final = df.data_hora <= '2018-10-15 23:00:00'

df.loc[periodo_inicial & periodo_final]

      codigo_ocorrencia  ...           data_hora
4643              78214  ... 2018-10-01 14:04:00
4644              78228  ... 2018-10-01 14:20:00
4645              78298  ... 2018-10-04 10:40:00
4646              78233  ... 2018-10-05 09:24:00
4647              78235  ... 2018-10-08 20:50:00
4648              78237  ... 2018-10-09 09:30:00
4649              78247  ... 2018-10-09 02:00:00
4650              78238  ... 2018-10-11 13:06:00
4651              78240  ... 2018-10-11 21:00:00
4652              78241  ... 2018-10-12 14:15:00
4653              78239  ... 2018-10-13 10:10:00
4654              78243  ... 2018-10-13 19:45:00
4655              78246  ... 2018-10-13 19:00:00

[13 rows x 10 columns]

In [ ]:
filter_ano1 = df.data_hora.dt.year == 2018
filter_hora = df.data_hora.dt.hour == 10

df.loc[filter_ano1 & filter_hora]

      codigo_ocorrencia  ...           data_hora
4311              77612  ... 2018-01-06 10:30:00
4319              77672  ... 2018-01-13 10:50:00
4320              77636  ... 2018-01-14 10:07:00
4358              77724  ... 2018-02-19 10:10:00
4431              77847  ... 2018-04-06 10:30:00
4512              77978  ... 2018-06-16 10:15:00
4543              78024  ... 2018-07-10 10:38:00
4546              78031  ... 2018-07-12 10:50:00
4560              78123  ... 2018-07-20 10:49:00
4578              78081  ... 2018-07-29 10:55:00
4596              78125  ... 2018-08-16 10:15:00
4629              78198  ... 2018-09-22 10:00:00
4635              78202  ... 2018-09-27 10:45:00
4645              78298  ... 2018-10-04 10:40:00
4653              78239  ... 2018-10-13 10:10:00
4668              78276  ... 2018-10-30 10:30:00
4680              78339  ... 2018-11-10 10:30:00
4708              78342  ... 2018-11-27 10:40:00

[18 rows x 10 columns]

#Filtros para LOAD | CARREGAMENTO

* Atribuir o filtro a um novo dataFrame

> dfNomeFiltragem = df.loc[filtros]

In [ ]:
filtroAno = df.ocorrencia_dia.dt.year == 2012
filtroMes = df.ocorrencia_dia.dt.month == 3
df2012Marco = df.loc[filtroAno & filtroMes]

In [ ]:
df2012Marco

      codigo_ocorrencia  ...           data_hora
1223              45727  ... 2012-03-01 12:50:00
1224              45526  ... 2012-03-02 12:50:00
1225              45589  ... 2012-03-02 17:35:00
1226              45707  ... 2012-03-02 22:12:00
1227              45610  ... 2012-03-03 13:00:00
...                 ...  ...                 ...
1279              45773  ... 2012-03-29 20:33:00
1280              45785  ... 2012-03-29 15:20:00
1281              45754  ... 2012-03-30 14:30:00
1282              45774  ... 2012-03-30 13:31:00
1283              45731  ... 2012-03-31 19:21:00

[61 rows x 10 columns]

* Verificar os dados validos no novo dataFrame

In [ ]:
df2012Marco.count()

codigo_ocorrencia           61
codigo_ocorrencia2          61
ocorrencia_classificacao    61
ocorrencia_cidade           61
ocorrencia_uf               61
ocorrencia_aerodromo        30
ocorrencia_dia              61
ocorrencia_hora             61
total_recomendacoes         61
data_hora                   61
dtype: int64

* Verificar o que tem em cada um deles

* Fazer um agrupamento: passar a Query e em qual fazer a apresentação

nomedataframe.groupby(['colunaPquery']). colunaApresentação.count()

> O codigo abaixo mostra quantas ocorrencias foram feitas em cada tipo de classificação 

* Melhor de fazer grafico

In [ ]:
df2012Marco.groupby(['ocorrencia_classificacao']).ocorrencia_classificacao.count().sort_values(ascending = False)

ocorrencia_classificacao
INCIDENTE          43
ACIDENTE           14
INCIDENTE GRAVE     4
Name: ocorrencia_classificacao, dtype: int64

In [ ]:
df2012Marco.groupby(['ocorrencia_uf']).ocorrencia_uf.count().sort_values(ascending = False)

ocorrencia_uf
SP    15
RJ     9
GO     6
SC     4
RS     4
PR     3
BA     3
CE     3
TO     2
AM     2
MS     2
MG     2
AC     2
ES     1
MT     1
PI     1
AL     1
Name: ocorrencia_uf, dtype: int64

In [ ]:
df2012Marco.groupby(['ocorrencia_classificacao']).ocorrencia_aerodromo.count()

ocorrencia_classificacao
ACIDENTE            6
INCIDENTE          22
INCIDENTE GRAVE     2
Name: ocorrencia_aerodromo, dtype: int64

* Saber o tamanho de certa coluna

In [ ]:
df2012Marco.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE           14
INCIDENTE          43
INCIDENTE GRAVE     4
dtype: int64

In [ ]:
df2012Marco.groupby(['ocorrencia_cidade']).ocorrencia_classificacao.count().sort_values(ascending=False)

ocorrencia_cidade
GOIÂNIA                  4
MACAÉ                    4
FORTALEZA                3
RIBEIRÃO PRETO           3
RIO BRANCO               2
SÃO PAULO                2
GUARULHOS                2
CAMPINAS                 2
PALMAS                   2
RIO DE JANEIRO           2
SALVADOR                 2
SANTA MARIA              2
BELO HORIZONTE           2
CAMPO GRANDE             1
CAMPOS DOS GOYTACAZES    1
CHAPECÓ                  1
COARI                    1
CURITIBA                 1
ELISEU MARTINS           1
CABO FRIO                1
ESPUMOSO                 1
BARRA DO GARÇAS          1
FRANCA                   1
FRANCO DA ROCHA          1
VITÓRIA                  1
LINS                     1
ILHÉUS                   1
ITU                      1
ITUMBIARA                1
LONDRINA                 1
LUIZ ALVES               1
MACEIÓ                   1
MANAUS                   1
MARICÁ                   1
MIRANDA                  1
NAVEGANTES               1
PORTO ALEGRE             1
QUERÊNCIA DO NORTE       1
SOROCABA                 1
SÃO JOSÉ                 1
SÃO JOSÉ DO RIO PRETO    1
ANÁPOLIS                 1
Name: ocorrencia_classificacao, dtype: int64

In [ ]:
df2012Marco.groupby(['ocorrencia_hora']).ocorrencia_classificacao.count().sort_values(ascending=False)

ocorrencia_hora
12:50:00    4
12:30:00    2
10:00:00    2
17:30:00    2
17:35:00    2
20:30:00    2
17:40:00    2
12:25:00    2
14:30:00    1
14:20:00    1
14:00:00    1
13:45:00    1
13:31:00    1
13:19:00    1
13:00:00    1
23:25:00    1
12:46:00    1
14:38:00    1
12:20:00    1
11:48:00    1
11:45:00    1
11:35:00    1
11:31:00    1
11:30:00    1
10:50:00    1
08:30:00    1
14:35:00    1
16:00:00    1
14:41:00    1
19:45:00    1
22:12:00    1
22:00:00    1
21:40:00    1
21:17:00    1
21:00:00    1
20:45:00    1
20:38:00    1
20:33:00    1
19:55:00    1
19:30:00    1
15:20:00    1
19:21:00    1
19:18:00    1
18:40:00    1
17:45:00    1
17:00:00    1
16:35:00    1
16:15:00    1
16:10:00    1
22:42:00    1
01:42:00    1
Name: ocorrencia_classificacao, dtype: int64

* DataFrame maior que o anterior

In [ ]:
ano2011 = df.ocorrencia_dia.dt.year == 2011
estadosSudeste = df.ocorrencia_uf.isin(['MG','SP','RJ','ES'])

dfSudeste2011 = df.loc[ano2011 & estadosSudeste]

In [ ]:
dfSudeste2011

      codigo_ocorrencia  ...           data_hora
552               43633  ... 2011-01-01 19:35:00
554               43643  ... 2011-01-02 17:18:00
558               43631  ... 2011-01-05 15:36:00
559               43642  ... 2011-01-05 22:06:00
560               43630  ... 2011-01-06 11:30:00
...                 ...  ...                 ...
1120              45327  ... 2011-12-29 06:48:00
1122              51880  ... 2011-12-29 09:00:00
1123              51881  ... 2011-12-29 17:18:00
1124              51882  ... 2011-12-29 14:11:00
1126              45291  ... 2011-12-30 17:40:00

[262 rows x 10 columns]

In [ ]:
dfSudeste2011.count()

codigo_ocorrencia           262
codigo_ocorrencia2          262
ocorrencia_classificacao    262
ocorrencia_cidade           262
ocorrencia_uf               262
ocorrencia_aerodromo        117
ocorrencia_dia              262
ocorrencia_hora             262
total_recomendacoes         262
data_hora                   262
dtype: int64

* Agrupar por mais de uma coluna

dataframe.groupby(['coluna1','coluna2']).size()

* Mostra na ordem das colunas que você coloca

In [ ]:
dfSudeste2011.groupby(['ocorrencia_classificacao']).size()

In [ ]:
dfSudeste2011.groupby(['ocorrencia_classificacao','ocorrencia_uf']).size()

In [ ]:
dfSudeste2011.groupby(['ocorrencia_cidade']).size().sort_values(ascending=False)

ocorrencia_cidade
RIO DE JANEIRO    44
GUARULHOS         20
SÃO PAULO         20
BELO HORIZONTE    14
RIBEIRÃO PRETO    14
                  ..
MARÍLIA            1
VILA VELHA         1
MANHUAÇU           1
JAÍBA              1
AIMORÉS            1
Length: 84, dtype: int64

* Mostrar os nulos

In [ ]:
dfSudeste2011.groupby(['ocorrencia_aerodromo'],dropna=False).codigo_ocorrencia.count()

#CARREGAMENTO PARA CSV

1. Escolher o dataFrame

2. Guardar o dado: .to_csv

3. Passar o nome que ele vai ser criado: ('nome.csv')

4. Para não ir o index anterior junto : index = False

In [ ]:
dfSudeste2011.to_csv('sudeste2011.csv',index=False)

In [ ]:
df2012Marco.to_csv('marco212.csv',index=False)

* Garantir que carregou corretamente

In [ ]:
teste1 = pd.read_csv("/content/sudeste2011.csv")
teste1

     codigo_ocorrencia  ...            data_hora
0                43633  ...  2011-01-01 19:35:00
1                43643  ...  2011-01-02 17:18:00
2                43631  ...  2011-01-05 15:36:00
3                43642  ...  2011-01-05 22:06:00
4                43630  ...  2011-01-06 11:30:00
..                 ...  ...                  ...
257              45327  ...  2011-12-29 06:48:00
258              51880  ...  2011-12-29 09:00:00
259              51881  ...  2011-12-29 17:18:00
260              51882  ...  2011-12-29 14:11:00
261              45291  ...  2011-12-30 17:40:00

[262 rows x 10 columns]

In [ ]:
teste2 = pd.read_csv("/content/marco212.csv")
teste2

    codigo_ocorrencia  ...            data_hora
0               45727  ...  2012-03-01 12:50:00
1               45526  ...  2012-03-02 12:50:00
2               45589  ...  2012-03-02 17:35:00
3               45707  ...  2012-03-02 22:12:00
4               45610  ...  2012-03-03 13:00:00
..                ...  ...                  ...
56              45773  ...  2012-03-29 20:33:00
57              45785  ...  2012-03-29 15:20:00
58              45754  ...  2012-03-30 14:30:00
59              45774  ...  2012-03-30 13:31:00
60              45731  ...  2012-03-31 19:21:00

[61 rows x 10 columns]